.invoice-positions {
    &__actions {
        display: flex;
        align-items: center;
        justify-content: center
    }

    &__add-action {
        margin: auto
    }
}

.card {
  width: 400px;
  margin: auto;
}

.invoice-header {
  display: flex;
}
